# deps
node_modules/

# build output
.next/
dist/
out/
build/

# env
.env
.env.local
.env.*.local

# system
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
